<ion-view title="Home">
  <ion-content class="has-header padding">
      <h1>Overview</h1>
      <div class="card">
          <div class="item item-text-wrap">
              <h2>Event Stats</h2>
              Total events : {{events.length}} <br>
              Total bookings: {{bookings.length}}
          </div>
      </div>
      <div class="card">
          <div class="item item-text-wrap">
              <h2>Artist Stats</h2>
              Total artists : {{artists.length}} <br>
          </div>
      </div>
  </ion-content>
</ion-view>